@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}

#app {
    @apply h-full; /* feel free to add more classes */
}

#nprogress .spinner {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#nprogress .spinner-icon {
    margin: auto;
}
